@import '../../../../assets/scss/core/variables';

.slide {
  margin: $padding;
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: $padding;
  border: $border;

  &:before {
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.4);
    border-radius: $padding;
    z-index: -10;
  }
}
