@import 'variables';

html,
body {
  font-family: 'Exo', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  font-size: 1.2rem;
  color: #04277b;
  letter-spacing: -0.6px;
  z-index: 10;
  * {
    box-sizing: inherit;
    z-index: 10;
  }
}

hr {
  border-color: $border-color;
}
